input.button {
  width: auto;
  color: white;
  background: #5cb48e;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  margin-bottom: 0;
  padding: 12px 18px;
}

.font-md {
  font-size: 18px;
}

.box {
  font-size: 15px;
  padding: 10px 10px;
  font-family: 'Roboto', sans-serif;
}

.opaque-8 {
  opacity: 0.8;
}

.max-height-600 {
  height: 600px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.max-height-50 {
  height: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.right-align {
  text-align: right;
}

.border-top-sm {
  border-top: 2px;
}

.border-bottom-sm {
  border-bottom: 1px solid #e4e6e8;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.rooms li:hover {
  background: #cccccc;
  cursor: pointer;
}

/*==== messages ====*/
.messages li {
  margin: 6px 0;
}

.messages div {
  font-size: 14px;
  font-weight: 200;
}

.messages span {
  color: white;
  font-size: 16px;
  margin: 2px 0;
  border-radius: 25px;
  background: orange;
  padding: 6px 12px;
}
