/*==== colors ====*/
black {
    color: black;
}

input.button {
  width: auto;
  color: white;
  background: #5cb48e;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  margin-bottom: 0;
  padding: 12px 18px;
}

.font-md {
  font-size: 18px;
}

.box {
  font-size: 15px;
  padding: 10px 10px;
  font-family: 'Roboto', sans-serif;
}

.opaque-8 {
  opacity: 0.8;
}

.max-height-50vh {
  height: 50vh;
  padding: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.max-height-50 {
  height: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.right-align {
  text-align: right;
}

.border-top-sm {
  border-top: 2px;
}

.border-bottom-sm {
  border-bottom: 1px solid #e4e6e8;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

/*==== rooms ====*/

.rooms li:hover {
  background: #cccccc;
  cursor: pointer;
}

/*==== navbar ====*/
.bg-black {
  background-color: #242729 !important;
}

.navbar {
  color: white;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: bold;
  border: none;
}

.navbar ul.nav > li > a {
  color: white;
  text-transform: uppercase;
  padding: 15px;
}
.navbar ul.nav > li > a:hover {
  border-bottom: solid 2px #6aae7a;
  color: #5cb48e;
}
@media (max-width: 800px) {
  .navbar ul.nav > li > a {
    padding: unset;
  }
  .navbar ul.nav > li > a:hover {
    border:unset;
  }
}

/*-------------------------
        scrollbar
-------------------------*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
