
body{
  background-image: url(/images/bg.svg);
}
.green {color: #9F3;}
.orange {color: #FC0;}
.blue {color: #06C;}
.red {color: #ff0048;}
.purple {color: #683A87;}
.horizontal-padding {padding: 0px 10px;}
.font-small {font-size: 18px;}

button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

a {
  color: #5cb48e;
  text-decoration: none !important;
}

a:hover {
  color: #333333;
}

h1, h2, h3, h4, h5 {
  color: #333333;
}

.page-content {
  position: relative;
  z-index: 12;
  margin-top: 60px;
}

@media screen and (max-width: 992px) {
  .page-content {
    margin-top: 0;
  }
}

.content {
  display: none;
}

.box-content {
  background: white;
  color: #555;
  padding: 30px;
  margin-top: 30px;
}

.box-content .widget-title {
  font-size: 22px;
  color: #333;
  font-family: 'Roboto', sans-serif;;
  margin-bottom: 30px;
}

.welcome-text {
  position: relative;
  margin-top: 60px;
}
.welcome-text h2 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;;
  margin-bottom: 30px;
  color: white;
}
.welcome-text p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;;
}

.top-header {
  position: relative;
  z-index: 10;
  padding: 14px 0;
  background: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 992px) {
  .phone-info {
    text-align: center;
  }
}

#nav a {
  display: block;
  width: 170px;
  height: 170px;
  text-align: center;
  color: white;
  font-size: 18px;
  margin: 0 auto;
}
#nav a:hover {
  display: block;
  width: 200px;
  height: 200px;
  text-align: center;
  color: #5cb48e;
  font-size: 18px;
  margin: 0 auto;
}
#nav li {
  margin-bottom: 30px;
}
#nav i {
  padding-top: 50px;
  display: block;
  font-size: 36px;
  margin-bottom: 10px;
}

/*------ contact ------ */
.contact-form input, .contact-form textarea {
  width: 100%;
  outline: 0;
  padding: 8px 10px;
  margin-bottom: 20px;
  max-width: 100%;
  border: 1px solid #dddddd;
}
.contact-form input.button {
  width: auto;
  color: white;
  background: #5cb48e;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  margin-bottom: 0;
  padding: 12px 18px;
}